<div class="container-fluid">
  <header>
    <div class="block-header">
      <div>
        <ul>
          <li><img src="../../assets/images/eesre.jpg" alt="logo"></li>
          <li>EESRE</li>
        </ul>
      </div> 
      <div>
        <ul>
          <li>Nos partenaires</li>
          <li>Contactez-nous</li>
          <li><a href=""><img src="../../assets/images/facebook.png" alt="facebook"></a></li>
          <li><a href=""><img src="../../assets/images/twitter.png" alt="twitter"></a></li>
        </ul>
      </div>
    </div>
  </header>
  <nav class="block-menu">
    <div  class="block-nav">
      <div>
        <ul>
          <li><a href=""> Accueil</a></li>
          <li><a href="">Formations</a></li>
          <li><a href="">Experiences</a></li>
          <li><a href="">Compétences</a></li>
        </ul>
      </div>
      <div>
        <ul>
          <li> <input type="text" name="search" placeholder="search"> </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="block-img">
    <div class="block-card-img">
      <h5>L'Eglise Evengélique le Sacerdoce Royal de l'Eternel (EESRE)</h5>
      <p>
        Vous, au contraire, vous êtes une race élue, un sacerdoce royal, une nation sainte, un peuple acquis, afin 
        que vous annonciez les vertus de celui qui vous a appelés des ténèbres à son admirable lumière, <span>(1 Pierre 2:9)</span>
      </p>
      <button style="margin-right: 57px;" type="button" class="btn btn-primary">Activite</button>
      <button type="button" class="btn btn-danger">Offrandes</button>
    </div>
  </div>
  <div>
    <h2 class="block-fondateur-h2">Fondateur de L'EESRE</h2>
    <div class="block-fondateur">
      <div>
        <img src="../assets/images/pasteur_beda_1.jpg" style="width: 450px;height: 450px;" alt="caroussel">
      </div>
      <div>
        <p>
          Pasteur Beda cériac appélé le King, né le xx xx 1970 est le dit fondateur de l'eglise evengelique le sacerdoce Royal de l'Eternel.
          Il se caractérise comme un leadership hors, vrai. Marié et père de 04 enfants, il nous devance vers le père celeste le xx Mars 2023 au CHU de Cocody.
        </p>
      </div>
    </div>
  </div>
  <div class="block-famille">
    <div>
      <h2>Nous sommes une famille</h2>
      <img src="" alt="" srcset="">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quibusdam maxime fuga voluptatum sit 
        necessitatibus amet cum
      </p>
    </div>
  </div>
  <div class="block-departement">
    <h2 style="text-align: center;margin-top: 32px;font-weight: bold;">Departements de l'église</h2>
    <div class="row">
      <div class="col-6">
        <div class="block-departement-card">
          <div>
            <img class="rounded-circle" src="../assets/images/pasteur_morelle.jpg" alt="" srcset="">
            <p>Pasteur Assokpe Morel</p>
          </div>
          <div class="block-departement-title">
            <h3>Le Conseil de l'Eglise</h3>
            <p>
              Composé de quatres (4) membres dont le pasteur qui est le responsable, le conseil est le departement 
              principal de l'église. Toute situation est d'abord évaluée par les membres du conseil avant la prise 
              de décision finale.
            </p>
          </div>
        </div>
        <div class="block-departement-card">
          <div>
            <img class="rounded-circle" src="../assets/images/msg6430065235-5106.jpg" alt="" srcset="">
          </div>
          <div class="block-departement-title">
            <h3>Département Intercession</h3>
            <p>
              Le coeur de l'église, il a été mis en place dant le but de porter les requêtes de l'église vers 
              l'Eternel afin d'obtenir une reponse favorable.  <span style="font-size: 15px;"> 1 Thes 16 verset 17</span>
            </p>
          </div>
        </div>
        <div class="block-departement-card">
          <div>
            <img class="rounded-circle" src="../assets/images/msg6430065235-5106.jpg" alt="" srcset="">
          </div>
          <div class="block-departement-title">
            <h3>Département Des Femmes</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim neque distinctio magni quae, impedit 
              commodi, vitae quibusdam illo, labore sapiente ex asperiores. 
            </p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="block-departement-card">
          <div>
            <img class="rounded-circle" src="../assets/images/mireille.jpg" alt="" srcset="">
            <p>Yepie Esse mireille</p>
          </div>
          <div class="block-departement-title">
            <h3>Département Direction</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim neque distinctio magni quae, impedit 
              commodi, vitae quibusdam illo, labore sapiente ex asperiores. 
            </p>
          </div>
        </div>
        <div class="block-departement-card">
          <div>
            <img class="rounded-circle" src="../assets/images/msg6430065235-5106.jpg" alt="" srcset="">
            <p>Assokpe Neully</p>
          </div>
          <div class="block-departement-title">
            <h3>Département Groupe Musical</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim neque distinctio magni quae, impedit 
              commodi, vitae quibusdam illo, labore sapiente ex asperiores. 
            </p>
          </div>
        </div>
        <div class="block-departement-card">
          <div>
            <img class="rounded-circle" src="../assets/images/msg6430065235-5106.jpg" alt="" srcset="">
          </div>
          <div class="block-departement-title">
            <h3>Département Des Hommes</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim neque distinctio magni quae, impedit 
              commodi, vitae quibusdam illo, labore sapiente ex asperiores. 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block-pasteur">
    <hr style="border: 5px solid #571e0d; margin: 12px 90px; border-radius: 12px;">
    <div class="block-pasteur-img">
      <h2>Les Oints de l'Eternel</h2>
      <p>
        Dépuis sa création jusqu'aujourd'hui, se sont au total deux pasteurs à la tête de l'Eglise evengelique
        le Sacerdoce Royal de l'Eternel.
      </p>
    </div>
    <div class="row">
      <div class="col-3">
      </div>
      <div class="col-3">
        <img class="rounded-circle" src="../assets/images/pasteur_beda_1.jpg" alt="" srcset="">
        <p class="block-pasteur-first-p">Pasteur Beda Ceriac</p>
        <p class="block-pasteur-second-p">Fondateur de l'EESRE et premier pasteur (2007-2023)</p>
      </div>
      <div class="col-3">
        <img class="rounded-circle" src="../assets/images/pasteur_morelle.jpg" alt="" srcset="">
        <p class="block-pasteur-first-p">Pasteur Assokpe Jean-Morel</p>
        <p class="block-pasteur-second-p">Pasteur de l'EESRE (2023-maintenant)</p>
      </div>
      <div class="col-3">
      </div>
    </div>
    <div>
      <button type="button" class="btn btn-warning" style="background-color: #571e0d; color: #fff;padding: 8px 45px;border-radius: 84px;margin-top: 32px; border: #571e0d;">Plus d'information</button>
    </div>
  </div>

  <footer style="background-color: black; color: #fff;padding: 132px 12px;">
    <div class="d-flex">
      <div>
        Contact : 01 22 00 80 11
      </div>
      <div>
        Adresse Email: eesre&#64;gmail.com
      </div>
      <div>
        Lieux: dans la commune d'Abobo, à abobo-té (petro ivoir en bas nos loin du garage) non loin du collège Victor Lobad 
      </div>
    </div>
  </footer>
</div>